---
import Layout from '../layouts/Layout.astro';

---

<Layout 
  title="Synthera | Landing Page"
  description="The best solution for your business needs. Get started today!"
  image="/images/logo.jpeg"
>
<section style="padding: 100px 20px; text-align: center;">
    <h1>Welcome to Zynthera</h1>
    <p>Connecting the Future</p>
  </section>
</Layout>